{% extends "navbar.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div style="text-align: center;">
        <h1>Welcome to my Homework 2 assignment!</h1>
        <h2></h2><br>
        <h2>Get some details about a specified country,<br>
        <h2>Get some details about a specified city,<br>
        <h2>Or get the current time of a specified city!</h2>
</div>

</body>

</html>
{% endblock %}